.App {
  text-align: center;
  background-color: red;
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}